{% extends "layout.html" %}

{% block content %}
 <div class="row">
        <div class="col-sm-3">
               <img src="/uploads/{{superhero.picture}}" alt="{{superhero.name}}" style:"witdh: 100%">
           
        </div> 
        <div class="col-sm-9">
                <h2>{{superhero.name}} N°:{{superhero.number}}</h2>
                <a href="/edit/{{superhero._id}}" class="btn btn-warning">Editer</a>
                <a href="/delete/{{superhero._id}}" class="btn btn-danger">Supprimer</a>
                <hr>
                <p class="lead">
                    {{superhero.description}}
                </p>
                <h3> Super pouvoirs :</h3>
                {% for s in superhero.superpouvoirs %}
                <a href="/superpouvoirs/{{s.name}}" style="background-color: {{s.color}}" class="badge badge-pill badge-primary">{{s.name}} </a>
                {%endfor%}
        </div>
 </div>   

    
{% endblock %}
